asgiref
async-lru
async-timeout
attrs
autobahn
Automat
autopep8
Babel
cachetools
certifi
cffi
channels
chardet
charset-normalizer
constantly
cryptography
daphne
dj-database-url
Django
django-braces
django-colorfield
django-crispy-forms

djangorestframework
djangorestframework-datatables
frozenlist
googletrans
gunicorn
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
hyperlink
idna
incremental
Jinja2
MarkupSafe
multidict
numpy
Pillow
psycopg2
psycopg2-binary
pyaes
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyOpenSSL
Pyrogram
PySocks

pytz
requests
rfc3986
rsa
service-identity
six
sniffio
sqlparse

toml
Twisted
twisted-iocpsupport
txaio
typing_extensions
urllib3
whitenoise
yarl
zope.interface
