{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
				<div class="build-title">
					<h3 class="page-title">
						Faol guruhlarning darajasi kesimida guruhlar va talabalar soni hamda ularning davomat natijalar
					</h3>
                    
				</div>
				<div class="container">
					<div class="build-search build-search_teacher">
						<ul class="attendance-table build-table build-table--bold ">
							<li class="build-table__item">
								№
							</li>
							<li class="build-table__item">
								Guruhlarning daraja nomlari
							</li>
							<li class="build-table__item">
								Faol guruhlar soni
							</li>
							<li class="build-table__item">
								O‘quvchi talabalarning
umumiy soni
							</li>
							<li class="build-table__item">
								Doimiy faol
o’quvchilar soni
							</li>
							<li class="build-table__item">
								Sababli dars
qoldirganlar soni
							</li>
							<li class="build-table__item">
								Sababsiz dars
qoldirganlar soni
							</li>
							<li class="build-table__item">
                                Guruhdan haydalgan 
                                talabalar soni
							</li>
							<li class="build-table__item">
								Qora ro’yxatga
tushganlar soni
							</li>
						</ul>
					</div>
					<!-- 
						Jadval ro'yhati
					-->
					<ul class="attendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							1
						</li>
						<li class="build-table__item">
                           <a href="#">Tennegers</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
						<li class="build-table__item color-blue">
							2
						</li>

						<li class="build-table__item color-red">
							0
						</li>
					</ul>
                    <ul class="attendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							2
						</li>
						<li class="build-table__item">
							<a href="#">Adults</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
						<li class="build-table__item color-blue">
							2
						</li>

						<li class="build-table__item color-red">
							0
						</li>
					</ul>
                    <ul class="attendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							3
						</li>
						<li class="build-table__item">
							<a href="#">Kids</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
						<li class="build-table__item color-blue">
							2
						</li>

						<li class="build-table__item color-red">
							0
						</li>
					</ul>
                    <ul class="attendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
						</li>
						<li class="build-table__item">
                            Jami
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
						<li class="build-table__item color-blue">
							2
						</li>

						<li class="build-table__item color-red">
							0
						</li>
					</ul>
                   
					
                  
				</div>
			</div>
		</div>
	
	{% endblock %}