{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
				<div class="build-title">
					<h3 class="page-title">
                        Barcha guruhlarni tartib bilan harakatlanish jadvali
					</h3>
                    
				</div>
				<div class="container">
					<div class="build-search build-search_teacher">
                        <div class="build-search__btn split-slider">
                            <a href="#" class="split-btn split-btn_active">1 - oy guruhlar</a>
                            <a href="#" class="split-btn split-btn_preactive">2 - oy guruhlar</a>
                            <a href="#" class="split-btn">3 - oy guruhlar</a>
                            <a href="#" class="split-btn">4 - oy guruhlar</a>
                            <a href="#" class="split-btn">5 - oy guruhlar</a>
                            <a href="#" class="split-btn">6 - oy guruhlar</a>
                            <a href="#" class="split-btn">7 - oy guruhlar</a>
                            <a href="#" class="split-btn">8 - oy guruhlar</a>
                            <a href="#" class="split-btn">9 - oy guruhlar</a>
                            <a href="#" class="split-btn">10 - oy guruhlar</a>
                            <a href="#" class="split-btn">11 - oy guruhlar</a>
                            <a href="#" class="split-btn">12 - oy guruhlar</a>
                        </div>
						<ul class="allGroup-table build-table build-table--bold ">
							<li class="build-table__item">
								№
							</li>
							<li class="build-table__item">
								Guruhning 
restor raqami
							</li>
							<li class="build-table__item">
								Asosiy o‘qituvchi
							</li>
							<li class="build-table__item">
								Dars kunlari
va soat
							</li>
							<li class="build-table__item">
                                Guruhlar
darajasi
							</li>
							<li class="build-table__item">
								Dars
boshlangan
sana
							</li>
							<li class="build-table__item">
                                Dars
                                tugagan
                                sana
							</li>
                            <li class="build-table__item">
                                Doimiy faol
o’quvchilar
soni
							</li>
                            <li class="build-table__item">
                                Doimiy 
                                dars qoldirgan 
                                o’quvchilar soni
							</li>
                            <li class="build-table__item">
                                Guruhdan
chiqarib 
yuborilganlar
soni
							</li>
                            <li class="build-table__item">
                                Chegirma 
                                olgan o‘quvchilar 
                                soni
							</li>
                            <li class="build-table__item">
                               
							</li>
						</ul>
					</div>
					<!-- 
						Jadval ro'yhati
					-->
					<ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							1
						</li>
						<li class="build-table__item">
                           <a href="#">G - 00387</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">Muhammad Siddiq
                                Main teacher</a>
						</li>
						<li class="build-table__item">
							Monday
14:00
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
                            20.05.2021
						</li>
						<li class="build-table__item">
							22.06.2021
						</li>
						<li class="build-table__item">
							Bosh bino
1.4-xona
						</li>
						<li class="build-table__item">
							26.03.2021
Juma
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>
                    <ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							2
						</li>
						<li class="build-table__item">
                           <a href="#">G - 00387</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">Muhammad Siddiq
                                Main teacher</a>
						</li>
						<li class="build-table__item">
							Monday
14:00
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
                            20.05.2021
						</li>
						<li class="build-table__item">
							22.06.2021
						</li>
						<li class="build-table__item">
							Bosh bino
1.4-xona
						</li>
						<li class="build-table__item">
							26.03.2021
Juma
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>
                    <ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							3
						</li>
						<li class="build-table__item">
                           <a href="#">G - 00387</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">Muhammad Siddiq
                                Main teacher</a>
						</li>
						<li class="build-table__item">
							Monday
14:00
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
                            20.05.2021
						</li>
						<li class="build-table__item">
							22.06.2021
						</li>
						<li class="build-table__item">
							Bosh bino
1.4-xona
						</li>
						<li class="build-table__item">
							26.03.2021
Juma
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>
                    <ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							4
						</li>
						<li class="build-table__item">
                           <a href="#">G - 00387</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">Muhammad Siddiq
                                Main teacher</a>
						</li>
						<li class="build-table__item">
							Monday
14:00
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
                            20.05.2021
						</li>
						<li class="build-table__item">
							22.06.2021
						</li>
						<li class="build-table__item">
							Bosh bino
1.4-xona
						</li>
						<li class="build-table__item">
							26.03.2021
Juma
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>
                    <ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							5
						</li>
						<li class="build-table__item">
                           <a href="#">G - 00387</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">Muhammad Siddiq
                                Main teacher</a>
						</li>
						<li class="build-table__item">
							Monday
14:00
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
                            20.05.2021
						</li>
						<li class="build-table__item">
							22.06.2021
						</li>
						<li class="build-table__item">
							Bosh bino
1.4-xona
						</li>
						<li class="build-table__item">
							26.03.2021
Juma
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>
                    <ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							6
						</li>
						<li class="build-table__item">
                           <a href="#">G - 00387</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">Muhammad Siddiq
                                Main teacher</a>
						</li>
						<li class="build-table__item">
							Monday
14:00
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
                            20.05.2021
						</li>
						<li class="build-table__item">
							22.06.2021
						</li>
						<li class="build-table__item">
							Bosh bino
1.4-xona
						</li>
						<li class="build-table__item">
							26.03.2021
Juma
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>
                    <ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							7
						</li>
						<li class="build-table__item">
                           <a href="#">G - 00387</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">Muhammad Siddiq
                                Main teacher</a>
						</li>
						<li class="build-table__item">
							Monday
14:00
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
                            20.05.2021
						</li>
						<li class="build-table__item">
							22.06.2021
						</li>
						<li class="build-table__item">
							Bosh bino
1.4-xona
						</li>
						<li class="build-table__item">
							26.03.2021
Juma
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>
                    <ul class="allGroup-table build-table build-table--light build-table__item">
						<li class="build-table__item">
						</li>
						<li class="build-table__item">
                           Jami
						</li>   
						<li class="build-table__item">
                           
						</li>
						<li class="build-table__item">
						
						</li>
						<li class="build-table__item">
						</li>
						<li class="build-table__item">
						</li>
						<li class="build-table__item">
						</li>
						<li class="build-table__item">
                            3 nafar
						</li>
						<li class="build-table__item">
                            6 nafar
						</li>
						<li class="build-table__item">
							2 nafar
						</li>
						<li class="build-table__item">
							1 nafar
						</li>
                        <li class="build-table__item">
						</li>
					</ul>
                    
                   
					<ul class="pagination">
						<li><a class="pagination__item" href="#"><img src="images/pagination-arrow-left.svg" alt="pagination icon"></a></li>
						<li><a class="pagination__item pagination__item--active" href="#">1</a></li>
						<li><a class="pagination__item" href="#">2</a></li>
						<li><a class="pagination__item" href="#">3</a></li>
						<li><a class="pagination__item" href="#">4</a></li>
						<li class="pagination__item pagination-more">...</li>
						<li><a class="pagination__item" href="#"><img src="images/pagination-arrow-right.svg" alt="pagination icon"></li></a>
					</ul> 
				</div>
			</div>
		</div>
	{% endblock %}
