{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
			<h3 class="page-title">
				Guruhlarni boshqarish
			</h3>
			<!-- config -->
			<section class="section-page config">
				<a class="config-box" href="{% url 'new-stage' %}">
					<h4 class="config-title">
						Mavjud guruhni keyingi bosqichga o‘tkazish
					</h4>
					<img class="config-img" src="{% static 'images/config-img-1.png'%}" alt="config img">
				</a>
				<a class="config-box" href="{% url 'all-groups'%}">
					<h4 class="config-title">
						Barcha guruhlarni tartib bilan harakatlanish jadvali
					</h4>
					<img class="config-img" src="{% static 'images/config-img-2.png'%}" alt="config img">
				</a>
				<a class="config-box" href="{% url 'active-attendance'%}">
					<h4 class="config-title">
						Faol guruhlarning darajasi kesimida guruhlar va talabalar soni hamda ularning davomat natijalar
					</h4>
					<img class="config-img" src="{% static 'images/config-img-3.png'%}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'student-attendance'%}">
					<h4 class="config-title">
						Talabalarning umumiy ro‘yxatiga asosan guruh va talabalar soni va ularning davomat natijalari
					</h4>
					<img class="config-img" src="{% static 'images/config-img-5.png'%}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'label'%}">
					<h4 class="config-title">
						Lebel darajalar asosan guruh va talabalar soni va ularning o‘zlashtirish natijalari
					</h4>
					<img class="config-img" src="{% static 'images/config-img-5.png'%}" alt="config img">
				</a>

                <a class="config-box" href="{% url 'student-transfer'%}">
					<h4 class="config-title">
						O‘quvchi talabalarni favqulotda o‘qiyotgan guruhdan boshqa guruhga o‘tkazish oynasi
					</h4>
					<img class="config-img" src="{% static 'images/config-img-6.png'%}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'transfer-journal'%}">
					<h4 class="config-title">
						O‘quvchi talabalarni favqulotda o‘qiyotgan guruhdan boshqa guruhga o‘tkazish jurnali
					</h4>
					<img class="config-img" src="{% static 'images/config-img-1.png'%}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'building-journal'%}">
					<h4 class="config-title">
						Bino va xonalarni dars jadvaliga asosan band yoki bo‘shligi haqida ma‘lumotlar oynasi
					</h4>
					<img class="config-img" src="{% static 'images/config-img-2.png'%}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'teacher-plan'%}">
					<h4 class="config-title">	
						O‘qituvchi xodimlarni dars jadvaliga asosan ish jarayonlari rejasi
					</h4>
					<img class="config-img" src="{% static 'images/config-img-3.png'%}" alt="config img">
				</a>

			</section> 
					
			</div>
{% endblock %}