{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
				<div class="build-title">
					<h3 class="page-title">
						Talabalarning umumiy ro‘yxatiga asosan guruh va talabalar soni va ularning davomat natijalari
					</h3>
                    
				</div>
				<div class="container">
					<div class="build-search build-search_teacher">
						<ul class="studentAttendance-table build-table build-table--bold ">
							<li class="build-table__item">
								№
							</li>
							<li class="build-table__item">
								Asosiy o‘qituvchi
							</li>
							<li class="build-table__item">
								Faol guruhlar soni
							</li>
							<li class="build-table__item">
								O‘quvchi talabalarning
umumiy soni
							</li>
							<li class="build-table__item">
                                Shunday eng a‘lochi
                                lidr talabalar soni
							</li>
							<li class="build-table__item">
								Shunday o’rtacha 
o’zlashtirayotgan talabalar soni
							</li>
							<li class="build-table__item">
                                Shunday eng passiv 
                                o’zlashtirgan talabalar soni
							</li>
						</ul>
					</div>
					<!-- 
						Jadval ro'yhati
					-->
					<ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							1
						</li>
						<li class="build-table__item">
                           <a href="#">Tennegers</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							2
						</li>
						<li class="build-table__item">
							<a href="#">Adults</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							3
						</li>
						<li class="build-table__item">
							<a href="#">Kids</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
						</li>
						<li class="build-table__item">
                            Jami
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                   
					
                    <!-- <ul class="pagination">
						<li><a class="pagination__item" href="#"><img src="images/pagination-arrow-left.svg" alt="pagination icon"></a></li>
						<li><a class="pagination__item pagination__item--active" href="#">1</a></li>
						<li><a class="pagination__item" href="#">2</a></li>
						<li><a class="pagination__item" href="#">3</a></li>
						<li><a class="pagination__item" href="#">4</a></li>
						<li class="pagination__item pagination-more">...</li>
						<li><a class="pagination__item" href="#"><img src="images/pagination-arrow-right.svg" alt="pagination icon"></li></a>
					</ul> -->
				</div>
			</div>
		</div>
{% endblock %}