{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
				<div class="build-title">
					<h3 class="page-title">
                        O ‘quvchi talabalarni favqulotda o‘qiyotgan guruhdan boshqa guruhga o‘tkazilgan jurnali
					</h3>
                    
				</div>
				<div class="container">
					<div class="build-search transferJournal build-search_teacher">
                        <div class="transferJournal-top transferJournal-top_yellow">
                            <div class="transferJournal-top__item">№</div>
                            <div class="transferJournal-top__item">O‘qituvchi 
                                talabalarning
                                F.I.Sh</div>
                            <div class="transferJournal-top__item">ID Kodi</div>
                            <div class="transferJournal-top__item">Tug‘ilgan
                                kuni sanasi</div>
                            <div class="transferJournal-top__item">Yoshi</div>
                        </div>
                        <div class="transferJournal-top transferJournal-top_red transferJournal-top_split">
                            <div class="transferJournal-head">Chiqib ketayotgan guruh ma‘lumotlari</div>
                            <div class="transferJournal-content transferJournal-content_1">
                                <div class="transferJournal-top__item">Guruh restor
                                raqami  </div>
                            <div class="transferJournal-top__item">Darajasi</div>
                            <div class="transferJournal-top__item">Nechanchi oy</div>
                            <div class="transferJournal-top__item">Guruhning turi</div>
                            </div>

                        </div>
                        <div class="transferJournal-top transferJournal-top_green transferJournal-top_split">
                            <div class="transferJournal-head">Yangi kirgan guruh ma‘lumotlari</div>
                            <div class="transferJournal-content transferJournal-content_2">
                                <div class="transferJournal-top__item">Guruh restor
                                raqami</div>
                            <div class="transferJournal-top__item">Darajasi</div>
                            <div class="transferJournal-top__item">Nechanchi oy</div>
                            <div class="transferJournal-top__item">Yangi o‘qituvchining
                                F.I.Sh</div>
                            </div>
                        </div>
					</div>
					<!-- 
						Jadval ro'yhati
					-->
					<ul class="transferJournal-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							1
						</li>
						<li class="build-table__item">
                           <a href="#">Komoljonov Ma’murjon
                            Foziljon o‘g‘li</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">1000004153</a>
						</li>
						<li class="build-table__item">
							2006.11.21
						</li>
						<li class="build-table__item">
							15 yosh
						</li>
						<li class="build-table__item">
                            G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
							5 - oy
						</li>
						<li class="build-table__item">
							Innovatsion
						</li>
						<li class="build-table__item">
							G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
                        <li class="build-table__item">
							5 - oy
						</li>
                        <li class="build-table__item">
	To’xtasinov Abdulhamid Umidjon o‘g‘li
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul>   
                    <ul class="transferJournal-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							2
						</li>
						<li class="build-table__item">
                           <a href="#">Komoljonov Ma’murjon
                            Foziljon o‘g‘li</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">1000004153</a>
						</li>
						<li class="build-table__item">
							2006.11.21
						</li>
						<li class="build-table__item">
							15 yosh
						</li>
						<li class="build-table__item">
                            G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
							5 - oy
						</li>
						<li class="build-table__item">
							Innovatsion
						</li>
						<li class="build-table__item">
							G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
                        <li class="build-table__item">
							5 - oy
						</li>
                        <li class="build-table__item">
	To’xtasinov Abdulhamid Umidjon o‘g‘li
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul> 
                    <ul class="transferJournal-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							3
						</li>
						<li class="build-table__item">
                           <a href="#">Komoljonov Ma’murjon
                            Foziljon o‘g‘li</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">1000004153</a>
						</li>
						<li class="build-table__item">
							2006.11.21
						</li>
						<li class="build-table__item">
							15 yosh
						</li>
						<li class="build-table__item">
                            G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
							5 - oy
						</li>
						<li class="build-table__item">
							Innovatsion
						</li>
						<li class="build-table__item">
							G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
                        <li class="build-table__item">
							5 - oy
						</li>
                        <li class="build-table__item">
	To’xtasinov Abdulhamid Umidjon o‘g‘li
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul> 
                    <ul class="transferJournal-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							4
						</li>
						<li class="build-table__item">
                           <a href="#">Komoljonov Ma’murjon
                            Foziljon o‘g‘li</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">1000004153</a>
						</li>
						<li class="build-table__item">
							2006.11.21
						</li>
						<li class="build-table__item">
							15 yosh
						</li>
						<li class="build-table__item">
                            G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
							5 - oy
						</li>
						<li class="build-table__item">
							Innovatsion
						</li>
						<li class="build-table__item">
							G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
                        <li class="build-table__item">
							5 - oy
						</li>
                        <li class="build-table__item">
	To’xtasinov Abdulhamid Umidjon o‘g‘li
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul> 
                    <ul class="transferJournal-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							5
						</li>
						<li class="build-table__item">
                           <a href="#">Komoljonov Ma’murjon
                            Foziljon o‘g‘li</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">1000004153</a>
						</li>
						<li class="build-table__item">
							2006.11.21
						</li>
						<li class="build-table__item">
							15 yosh
						</li>
						<li class="build-table__item">
                            G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
							5 - oy
						</li>
						<li class="build-table__item">
							Innovatsion
						</li>
						<li class="build-table__item">
							G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
                        <li class="build-table__item">
							5 - oy
						</li>
                        <li class="build-table__item">
	To’xtasinov Abdulhamid Umidjon o‘g‘li
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul> 
                    <ul class="transferJournal-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							6
						</li>
						<li class="build-table__item">
                           <a href="#">Komoljonov Ma’murjon
                            Foziljon o‘g‘li</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">1000004153</a>
						</li>
						<li class="build-table__item">
							2006.11.21
						</li>
						<li class="build-table__item">
							15 yosh
						</li>
						<li class="build-table__item">
                            G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
							5 - oy
						</li>
						<li class="build-table__item">
							Innovatsion
						</li>
						<li class="build-table__item">
							G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
                        <li class="build-table__item">
							5 - oy
						</li>
                        <li class="build-table__item">
	To’xtasinov Abdulhamid Umidjon o‘g‘li
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul> 
                    <ul class="transferJournal-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							7
						</li>
						<li class="build-table__item">
                           <a href="#">Komoljonov Ma’murjon
                            Foziljon o‘g‘li</a>
						</li>   
						<li class="build-table__item">
                            <a href="#">1000004153</a>
						</li>
						<li class="build-table__item">
							2006.11.21
						</li>
						<li class="build-table__item">
							15 yosh
						</li>
						<li class="build-table__item">
                            G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
						<li class="build-table__item">
							5 - oy
						</li>
						<li class="build-table__item">
							Innovatsion
						</li>
						<li class="build-table__item">
							G - 00387
						</li>
						<li class="build-table__item">
							Adults
						</li>
                        <li class="build-table__item">
							5 - oy
						</li>
                        <li class="build-table__item">
	To’xtasinov Abdulhamid Umidjon o‘g‘li
						</li>
                        <li class="build-table__item build-table__item--7">
							<ul class="build-table__dropdown">
								<li class="build-table__dropdown-item btn-edit">
									<a href="modal-teacher.html">
										<img src="images/dropdown-edit.svg" alt="dropdown icon">
									Taxrirlash
									</a>
								</li>
								<li class="build-table__dropdown-item">
									<img src="images/dropdown-delete.svg" alt="dropdown icon">
									O‘chirish
								</li>
							</ul>
						</li>
					</ul> 

                  
                   
					<ul class="pagination">
						<li><a class="pagination__item" href="#"><img src="{% static 'images/pagination-arrow-left.svg'%}" alt="pagination icon"></a></li>
						<li><a class="pagination__item pagination__item--active" href="#">1</a></li>
						<li><a class="pagination__item" href="#">2</a></li>
						<li><a class="pagination__item" href="#">3</a></li>
						<li><a class="pagination__item" href="#">4</a></li>
						<li class="pagination__item pagination-more">...</li>
						<li><a class="pagination__item" href="#"><img src="{% static 'images/pagination-arrow-right.svg'%}" alt="pagination icon"></li></a>
					</ul> 
				</div>
			</div>
		</div>
	{% endblock %}