{% extends "home.html" %}
{% load static%}
{% block title %}O'quvchi kiritish{% endblock%}
{% block content %}
    <div id="modal" class="modal active modal-select">
    <form action="#" class="modal-wrapper modal-wrapper_huge modal-space" method="POST">
    {% csrf_token %}
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="id" value="{{ students.id }}">
      <div class="modal-inner">
        <h4 class="modal__title">O‘quvchi va talabalarni ro‘yhatga olish  </h4>
        <div class="modal-select__item modal-three">
          <div class="modal-select__box">
            <label for="fname">Ismi</label>
            <input id="fname" class="modal-input" value="{{ students.first_name}}" type="text" name="name" placeholder="Shahzod">
          </div>
          <div class="modal-select__box">
            <label for="birthday">Tug’ilgan sanasi</label>
            <input id="birthday" class="modal-input" value="{{ students.born_date}}" name="born-date">
          </div>
           <div class="modal-select__box">
            <label>Shaxsni tasdiqlovchi hujjat turi</label>
            <div class="radio" style="grid-template-columns: 0.3fr 0.7fr 0.3fr 0.7fr 0.3fr 0.7fr;">
             <option selected value="{{ students.document_type }}">{{ students.document_type }}</option>
              <input type="radio" name="document-type" id="pass" value="Passport">
              <label for="pass">Passport</label>
              <input type="radio" name="document-type" id="metrika" value="Metrka">
              <label for="metrika">Metrka</label>
              <input type="radio" name="document-type" id="id" value="id">
              <label for="id">ID-Card</label>
            </div>
          </div>
        </div>
        <div class="modal-select__item modal-three">
          <div class="modal-select__box">
            <label for="surname">Familyasi</label>
            <input id="surname" class="modal-input" value="{{ students.last_name}}" type="text" name="surname" placeholder="Ismoilov">
          </div>
          <div class="modal-select__box">
            <label for="app-date">Ro‘yhatdan o‘tgan sana</label>
            <input id="app-date" class="modal-input" value="{{ students.register_date }}" name="register-date">
          </div>
          <div class="modal-select__box">
            <label for="passport">Passport seriyasi va raqami</label>
            <div class="modal-passport">
              <input id="passport" type="text"  class="modal-input" placeholder="AB">
              <input type="text" class="modal-input" value="{{ students.id_number}}" name='id-number' placeholder="AB1234567">
            </div>
          </div>
        </div>
        <div class="modal-select__item modal-three">
          <div class="modal-select__box">
            <label for="father-name">Otasining ismi</label>
            <input id="father-name" class="modal-input" value="{{ students.middle_name}}" type="text" name="middle-name" placeholder="Farrux o‘g‘li">
          </div>
          <div class="modal-select__box">
            <label for="id-code">ID-Kodi </label>
            <input id="id-code" class="modal-input" value="{{ students.id_code}}" type="text" name="id-code" placeholder="100007784">
          </div>
          <div class="modal-select__box">
            <label for="id-card">ID-Card raqami</label>
            <input id="id-card" class="modal-input" value="{{ students.id_card_number}}" type="text" name="id-card-number" placeholder="AB1234567">
          </div>
          
        </div>
        <div class="modal-select__item modal-three">
          <div class="modal-select__box">
            <label for="gender">Jinsi</label>
            <select id="gender" class="modal-input" name="gender">
             <option selected value="{{ students.gender }}">{{ students.gender }}</option>
              <option value="Erkak">Erkak</option>
              <option value="Ayol">Ayol</option>
            </select>
          </div>
          <div class="modal-select__box">
            <label for="address">Yashash joyi manzili</label>
            <input type="text" name="address" id="address" value="{{ students.address }}" class="modal-input" placeholder="Marhamat tumani Mingtepa MFY Ipak yo‘li ko‘chasi 83">
          </div>
          <div class="modal-select__box">
            <label for="app-time">O‘ziga ma’qul vaqt</label>
            <div class="modal-passport">
              <input id="app-time" type="text" class="modal-input" placeholder="08:00">
              <select class="modal-input" name="lesson-time">
               <option selected value="{{ students.free_time}}">{{ students.free_time }}</option>
                <option>Dushanba</option>
                <option>Seshanba</option>
                <option>Chorshanba</option>
                <option>Payshanba</option>
                <option>Juma</option>
                <option>Shanba</option>
                <option>Yakshanba</option>
              </select>
            </div>
          </div>          
        </div>
        <div class="modal-select__item modal-three">
          <div class="modal-select__box">
            <label for="login">Login</label>
            <input type="text" class="modal-input" value="{{ students.student_login }}" name="login" id="login" placeholder="Login">
          </div>
          <div class="modal-select__box">
            <label for="knowledge">O‘quvchining bilim darajasi</label>
            <input type="text" class="modal-input" value="{{ students.level }}" name="level" id="knowledge" placeholder="0">
          </div>
          <div class="modal-select__box">
            <label for="tel">Telefon raqamlari</label>
            <input type="tel" class="modal-input" value="{{ students.tel_number }}" name="tel" id="tel" placeholder="+99893 123 45 67">
          </div>
        </div>
  
        <div class="modal-select__item modal-three">
          <div class="modal-select__box">
            <label for="password">Parol</label>
            <div class="password-wrapper">
              <input type="text" class="modal-input" value="{{ students.student_password }}" name="password" id="password">
              <div class="password-icon"></div>
            </div>
          </div>
        <div class="modal-select__box">
          <label for="building">Filial va o‘quv binoni tanlash</label>
          <select id="building" class="modal-input" name="building">
           <option selected value="{{ students.building_name.id }}">{{ students.building_name }}</option>
          {% for b in building %}
            <option value="b.id">{{ b.name }}</option>
          {% endfor %}
          </select>
        </div> 
        <div class="modal-select__box">
          <label for="captcha">Rasmdagi matnni kiriting</label>
          <div class="captcha">
            <input type="text" class="modal-input" id="captcha" placeholder="WD54J">
            <img class="captcha-img" src="images/captcha.png" alt="captcha">
          </div>
      </div>
        </div>
      </div>
      {% comment %} <div class="input-buttons input-buttons_plus">
        <div class="input-buttons__item grey-wrap">
  
          <div class="grey-btn">
            <img src="images/grey-phone.svg" alt="grey img">
            Ijobiy aloqa
            <img class="grey-arrow" src="images/export-icon-2.svg" alt="grey img">
            <div class="blue-select">
              <ul class="blue-select-list">
                <li>
                  <a href="#">Taklif qilindi</a>
                </li>                
                <li>
                  <a href="#">Aniq o‘qishga keladi</a>
                </li>                
                <li>
                  <a href="#">Maslahatlashmoqchi</a>
                </li>                
                <li>
                  <a href="#">Aniq o‘qimas ekan</a>
                </li>
                <li>
                  <a href="#">Keyinroq o‘qishini ma’lum qildi</a>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="grey-btn">
            <img src="images/grey-phone-bad.svg" alt="grey img">
            Salbiy aloqa
            <img class="grey-arrow" src="images/export-icon-2.svg" alt="grey img">
            <div class="blue-select">
              <ul class="blue-select-list">
                <li><a href="#">Telefoni o‘chirilgan</a></li>                
                <li><a href="#">Xizmat doirasidan
                  tashqarida</a></li>                
                <li><a href="#">Noto‘g‘ri raqam bergan</a></li>                
                <li><a href="#">Ushbu raqam tarmoqda
                  mavjud emas</a></li>
              </ul>
            </div>
          </div>
          
          <div class="grey-btn">
            <img src="images/grey-message.svg" alt="grey img">
            Sms aloqa
            <img class="grey-arrow" src="images/export-icon-2.svg" alt="grey img">
              <div class="blue-select">
                <ul class="blue-select-list">
                  <li>
                    <a href="#">SMS - yoziladi</a>
                  </li>                
                  <li>
                    <a href="#">SMS - yozildi</a>
                  </li>                
                  <li>
                    <a href="#">SMS - ni qabul qildi</a>
                  </li>                
                  <li>
                    <a href="#">Aniq o‘qimas ekan</a>
                  </li>
                  <li>
                    <a href="#">Ijtimoiy sahifasiga yozildi</a>
                  </li>
                </ul>
              </div>
          </div>

        </div>{% endcomment %}
        <div class="input-buttons__item">
          <a href="{% url 'students'%}" id="modal-close" class="input-btn">Bekor qilish</a>
          <button class="input-btn input-btn--submit" type="submit">Saqlash</button>
        </div>
      {% comment %} </div>  {% endcomment %}
    </form>
    </div>
{% endblock content %}