{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
				<div class="build-title">
					<h3 class="page-title">
						Dars soatlarini kiritish va uni jurnali
					</h3>
                    <a class="enter" onclick="addTime()">Kiritish</a>
				</div>
				<div class="container">
					<div class="build-search">
						<div class="build-top">
							<div class="build-top__item">
								<i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
								<input type="text" id="search-text" name="build-search" placeholder="Search">
								<img class="build-search__img" src="{% static 'images/search.svg' %}" alt="search">
							</div>
							<div class="build-top__item build-export__second">
								<ul class="build-export">
									<li class="build-export__item">Export</li>
									<ul class="build-export__dropdown">
										<li><a href="#"><img src="{% static 'images/word.svg' %}" alt="export icon">Word</a></li>
										<li><a href="#"><img src="{% static 'images/excel.svg' %}" alt="export icon">Excel</a></li>
										<li><a href="#"><img src="{% static 'images/pdf.svg' %}" alt="export icon">Pdf</a></li>
									</ul>
								</ul>
								<div class="build-export__number">
									<span>Show</span>
                                    <input type="number" name="number" value="7">
								</div>
							</div>
						</div>
						<ul class="time-table build-table build-table--bold ">
							<li class="build-table__item build-table__item--1">
								№
							</li>
							<li class="build-table__item build-table__item--2">
								O‘tiladigan fanlar nomi
							</li>
							<li class="build-table__item build-table__item--3">
								Dars uslubi
							</li>
							<li class="build-table__item build-table__item--4">
								Dars turlari
							</li>
							<li class="build-table__item build-table__item--5">
								Dars guruhlar turlari
							</li>
							<li class="build-table__item build-table__item--6">
								Dars boshlanish vaqti
							</li>
							<li class="build-table__item build-table__item--7">
								Dars tugash vaqti
							</li>
						</ul>
					</div>
					<div id="replaceable-content" class="col-6">
						{% include "settings/search/time-results.html" %}
					</div>
					
				</div>
			</div>
    <script>
    function addTime() {
      window.location.href = '{% url "time" %}?add=true';
    }
    </script>
	<script src="{% static 'js/time_search.js' %}"></script>
{% endblock %}
		
