{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
			<h3 class="page-title">
				Sozlamalarni kiritish
			</h3>
			<!-- config -->
			<section class="section-page config">
				{% comment %} this part is not available {% endcomment %}
				<a class="config-box" href="{% url 'add-staff'%}">
					<h4 class="config-title">
						O‘qituvchi va xodimlarni ro‘yxatdan o‘tkazish
					</h4>
					<img class="config-img" src="{% static 'images/config-img-6.png'%}" alt="config img">
				</a>
				<a class="config-box" href="№">
					<h4 class="config-title">
						Xodimlarni umumiy ro‘yxatga olingan jurnalga o‘tish
					</h4>
					<img class="config-img" src="{% static 'images/config-img-2.png'%}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'students'%}">
					<h4 class="config-title">
						O‘quvchi va talabalarni qabulxona ro‘yxatiga olish
					</h4>
					<img class="config-img" src="{% static 'images/config-img-2.png'%}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'building' %}">
					<h4 class="config-title">
						Talabalar ro‘yxatga olingan umumiy jurnalga o‘tish
					</h4>
					<img class="config-img" src="{% static 'images/config-img-4.png'%}" alt="config img">
				</a>
			</section> 
					
			</div>
			
{% endblock %}