{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
				<div class="build-title">
					<h3 class="page-title">
						Lebel darajalar asosan guruh va talabalar soni va ularning o‘zlashtirish natijalari
					</h3>
                    
				</div>
				<div class="container">
					<div class="build-search build-search_teacher">
                        <div class="build-search__btn">
                            <a href="#" class="split-btn split-btn_active">1 - oy guruhlar</a>
                            <a href="#" class="split-btn split-btn_preactive">2 - oy guruhlar</a>
                            <a href="#" class="split-btn">3 - oy guruhlar</a>
                        </div>
						<ul class="studentAttendance-table build-table build-table--bold ">
							<li class="build-table__item">
								№
							</li>
							<li class="build-table__item">
								Asosiy o‘qituvchi
							</li>
							<li class="build-table__item">
								Faol guruhlar soni
							</li>
							<li class="build-table__item">
								O‘quvchi talabalarning
umumiy soni
							</li>
							<li class="build-table__item">
                                Shunday eng a‘lochi
                                lidr talabalar soni
							</li>
							<li class="build-table__item">
								Shunday o’rtacha 
o’zlashtirayotgan talabalar soni
							</li>
							<li class="build-table__item">
                                Shunday eng passiv 
                                o’zlashtirgan talabalar soni
							</li>
						</ul>
					</div>
					<!-- 
						Jadval ro'yhati
					-->
					<ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							1
						</li>
						<li class="build-table__item">
                           <a href="#">1-oy</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							2
						</li>
						<li class="build-table__item">
							<a href="#">2-oy</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							3
						</li>
						<li class="build-table__item">
							<a href="#">3-oy</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							4
						</li>
						<li class="build-table__item">
							<a href="#">4-oy</a>
						</li>
						<li class="build-table__item">
                            92
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							5
						</li>
						<li class="build-table__item">
							<a href="#">5-oy</a>
						</li>
						<li class="build-table__item">
                            17
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							6
						</li>
						<li class="build-table__item">
							<a href="#">6-oy</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
							7
						</li>
						<li class="build-table__item">
							<a href="#">7-oy</a>
						</li>
						<li class="build-table__item">
                            16
						</li>
						<li class="build-table__item">
							117
						</li>
						<li class="build-table__item">
							95
						</li>
						<li class="build-table__item">
                            8
						</li>
						<li class="build-table__item">
							12
						</li>
					</ul>
                    <ul class="studentAttendance-table build-table build-table--light build-table__item">
						<li class="build-table__item">
						</li>
						<li class="build-table__item">
                            Jami
						</li>
						<li class="build-table__item">
                            204
						</li>
						<li class="build-table__item">
							52
						</li>
						<li class="build-table__item">
							195
						</li>
						<li class="build-table__item">
                            87
						</li>
						<li class="build-table__item">
							123
						</li>
					</ul>
                   
					<ul class="pagination">
						<li><a class="pagination__item" href="#"><img src="images/pagination-arrow-left.svg" alt="pagination icon"></a></li>
						<li><a class="pagination__item pagination__item--active" href="#">1</a></li>
						<li><a class="pagination__item" href="#">2</a></li>
						<li><a class="pagination__item" href="#">3</a></li>
						<li><a class="pagination__item" href="#">4</a></li>
						<li class="pagination__item pagination-more">...</li>
						<li><a class="pagination__item" href="#"><img src="images/pagination-arrow-right.svg" alt="pagination icon"></li></a>
					</ul> 
				</div>
			</div>
		</div>
{% endblock %}