{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
				<div class="build-title">
					<h3 class="page-title">
						O‘quvchi talabalarni favqulotda o‘qiyotgan guruhdan boshqa guruhga o‘tkazish oynasi
					</h3>
                    
				</div>
				<div class="container">
                    <form class="transfer">
                        <div class="transfer__item">
                            <h1 class="transfer-title">Ayni vaqtda o‘qiyotgan guruhini topish</h1>
                            <div class="transfer-box">
                                <label class="transfer-label" for="id">ID Kodini kiriting:</label>
                                <input class="transfer-input" id="id" type="text" name="id" placeholder="Search">
                                <button type="submit" class="transfer-btn"><img src="{% static 'images/transfer-search.png'%}" alt="transfer-search"></button>
                            </div>
                            <div class="transfer-info transfer-info_huge">
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">F.I.Sh</div>
                                    <div class="transfer-infos">Komoljonov Ma’murjon Foziljon o‘g‘li</div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Tug‘ilgan sanasi va yoshi:</div>
                                    <div class="transfer-infos"><span>2006.11.21</span><span>15 yosh</span></div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">O’qiyotgan guruhi:</div>
                                    <div class="transfer-infos"><span>G - 000456</span><span>Adults</span><span>5 - oy</span><span>Innovatsion</span></div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">O‘qituvchisi:</div>
                                    <div class="transfer-infos">Abdulaziz Karimov</div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Kirgan va kirmagan darslar soni</div>
                                    <div class="transfer-infos"><span>Kirdi 5 ta dars</span><span>Kirmadi 7 ta dars</span></div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Kirmagan  darslar soni</div>
                                    <div class="transfer-infos">7 ta dars</div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Ushbu oy to‘lovidan haqdorligi</div>
                                    <div class="transfer-infos"><span>260 000</span><span class="color-blue">+151 666</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="transfer__item">
                            <h1 class="transfer-title">O‘qimoqchi bo‘layotgan guruhni topish</h1>
                            <div class="transfer-box">
                                <label class="transfer-label" for="reestor">Yangi guruhning restor raqami:</label>
                                <input class="transfer-input" id="reestor" type="text" name="reestor" placeholder="Search">
                                <button type="submit" class="transfer-btn"><img src="{% static 'images/transfer-search.png'%}" alt="transfer-search"></button>
                            </div>
                            <div class="transfer-info transfer-info_mini">
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Ushbu guruh o‘qituvchisi:</div>
                                    <div class="transfer-infos">Akramov Muhammad Siddiq</div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Guruh haqida ma’lumot:</div>
                                    <div class="transfer-infos"><span>G - 000456</span><span>Adults</span><span>4 - oy</span><span>Innovatsion</span></div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">O‘tilayotgan darslar soni:</div>
                                    <div class="transfer-infos"><span>O‘tildi 7 ta dars</span><span>o‘tilmagan 5 ta dars qoldi</span></div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Guruhdagi o‘qituvchilar soni:</div>
                                    <div class="transfer-infos"><span>Faol: 14 ta</span><span>sababli 2 ta</span><span>sababsiz 1 ta</span></div>
                                </div>
                                <div class="transfer-info__item">
                                    <div class="transfer-infos">Guruhdagi bo’sh joylar soni:</div>
                                    <div class="transfer-infos"><span class="color-blue">1 ta</span></div>
                                </div>
                            </div>

                            <div class="transfer-search">
                               <div class="transfer-search_plus">
                                    <label class="transfer-label">Ushbu guruhdagi bosh o‘rinlarni to‘ldirish:</label>
                                    <label class="transfer-label" for="space">ID Kodi:</label>
                                    <input class="transfer-input" id="space" type="text" name="space" placeholder="Search">
                                    <button type="submit" class="transfer-btn"><img src="{% static 'images/transfer-search.png'%}" alt="transfer-search"></button>
                               </div>
                               <div class="transfer-search_mini">
                                <label class="transfer-label" for="bills" style="justify-content: flex-start;">Oldingi oydan haq qarzini olib o‘tish</label>
                                <input class="transfer-input" id="bills" type="text" name="bills">
                               </div>
                            </div>

                        </div>
                        <button class="transfer-submit" type="submit">O‘tkazish amaliyotni bajarish</button>
                    </form> 

				</div>
			</div>
		</div>
	{% endblock %}
