{% extends "home.html" %}
{% load static%}
{% block title %}Oylik To'lovlar{% endblock%}
{% block content %}
   <div id="modal" class="modal active modal-select">
			<form action="#" class="modal-wrapper" method="POST">
      {% csrf_token %}
      <input type="hidden" name="action" value="add">
				<div class="modal-inner">
					<h4 class="modal__title">Asosiy va qo’shimcha fanlarni kiritish</h4>
					<div class="modal-select__item">
            <div class="modal-select__box modal-select-plus">
              <label for="subject">O‘tiladigan fanlar nomi</label>
            <select id="subject" class="modal-input" name="subject-name" required>
            <option selected disabled></option>
						{% for s in subject %}
            	<option value="{{ s.id }}">{{s.name}}</option>
            {% endfor %}
            </select>
            <a href="#" class="add-link">+ Yangi qo‘shish</a>
            </div>
            <div class="modal-select__box modal-select-plus">
              <label for="group">Dars uslubi</label>
            <select id="group" class="modal-input" name="lesson-pattern" required>
            <option selected disabled></option>
              {% for p in lesson_pattern %}
            	<option value="{{ p.id }}" >{{ p.patterns}}</option>
              {% endfor %}
            </select>
            <a href="#" class="add-link">+ Yangi qo‘shish</a>
            </div>
          </div>
          <div class="modal-select__item">
            <div class="modal-select__box">
              <label for="subject-time">Bir haftalik darslar rejasi</label>
							<input id="subject-time" class="modal-input" type="text" name="weekly-plan" placeholder="3 ta dars" autocomplete="off" required>
            </div>
            <div class="modal-select__box">
              <label for="monthly-time">Bir oylik darslar rejasi</label>
              <input id="monthly-time" class="modal-input" name="monthly-plan" type="text" placeholder="12 ta dars" required>
            </div>
          </div>
          <div class="modal-select__item">
            <div class="modal-select__box">
							<label for="all-time">O’quv dasturidagi umumiy darslar rejasi </label>
              <input id="all-time" class="modal-input" name="total-lessons" type="text" placeholder="192 ta dars" required>
            </div>
            <div class="modal-select__box">
              <label for="general-time">Umumiy dasturning davomiyligi </label>
              <input id="general-time" class="modal-input" name="course-duration" type="text" placeholder="16 oy" required>
            </div>
          </div>
				</div>
				<div class="input-buttons">
					<a href="{% url 'other'%}" id="modal-close" class="input-btn">Bekor qilish</a>
				<button class="input-btn input-btn--submit" type="submit">Saqlash</button>
				</div>
			</form>
		</div>
	{% endblock %}