{% extends 'home.html' %}
{% load static %}
{% block content %}
    <div id="modal" class="modal active">
      <form action="#" class="modal-wrapper" method="POST">
       {% csrf_token %}
      <input type="hidden" name="action" value="add">
        <div class="modal-inner">
          <h4 class="modal__title">Bino va Filiallarni kiritish</h4> 
          <div class="modal-input__item">
            <label for="address">Joylashgan manzili</label>
            <input id="address" class="modal-input" type="text" name="address" placeholder="Shaxar, ko‘cha, uy" autocomplete="off" required>
          </div>
          <div class="modal-input__item">
            <label for="name">Markaz va filiallar nomi</label>
            <input id="name" class="modal-input" type="text" name="building-name" placeholder="Birinchi bosh amaliyot markazi" autocomplete="off" required>
          </div>
          <div class="modal-input__item modal-box">
            <div class="modal-input__box">
              <label for="nickname">Qisqacha nomi yoki nik</label>
            <input id="nickname" class="modal-input" type="text" name="nickname" placeholder="Ismi, nik" autocomplete="off" required>
            </div>
            <div class="modal-input__box">
              <label for="staff-number">Ishchi o‘rni soni</label>
            <input id="staff-number" class="modal-input" type="number" name="room-amount" placeholder="5" autocomplete="off" required>
            </div>
            <div class="modal-input__box">
              <label for="date">Kiritilgan sana</label>
            <input id="date" class="modal-input" name="added-time" autocomplete="off" value="2021-12-01" required>
            </div>
          </div>
        </div>
        <div class="input-buttons">
          <a href="#" id="modal-close" class="input-btn">Bekor qilish</a>
        <button class="input-btn input-btn--submit" type="submit">Saqlash</button>
        </div>
      </form>
    </div>
 {% endblock %}