{% extends 'home.html' %}
{% block title %} Settings {% endblock %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
			<h3 class="page-title">
				Settings
			</h3>
			<!-- config -->
			<section class="section-page config">
				<a class="config-box" href="/time">
					<h4 class="config-title">
						Timetables
					</h4>
					<img class="config-img" src="{% static 'images/config-img-1.png' %}" alt="config img">
				</a>

				<a class="config-box" href="/teachers">
					<h4 class="config-title">
						Managing teachers and room types
					</h4>
					<img class="config-img" src="{% static 'images/config-img-2.png' %}" alt="config img">
				</a>

				<a class="config-box" href="/salary">
					<h4 class="config-title">
						Monthly fee types
					</h4>
					<img class="config-img" src="{% static 'images/config-img-3.png' %}" alt="config img">
				</a>

				<a class="config-box" href="/building">
					<h4 class="config-title">
						Education centre branches
					</h4>
					<img class="config-img" src="{% static 'images/config-img-4.png' %}" alt="config img">
				</a>

				<a class="config-box" href="{% url 'other'%}">
					<h4 class="config-title">
					Additional subjects
					</h4>
					<img class="config-img" src="{% static 'images/config-img-5.png' %}" alt="config img">
				</a>

				<a class="config-box" href="/room">
					<h4 class="config-title">
						Entering room types
					</h4>
					<img class="config-img" src="{% static 'images/config-img-6.png' %}" alt="config img">
				</a>

				<a class="config-box" href="/students">
					<h4 class="config-title">
						Student registration
					</h4>
					<img class="config-img" src="{% static 'images/config-img-2.png' %}" alt="config img">
				</a>

			</section> 
					
			</div>
			
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/libs.min.js"></script>
		<script src="js/script.js"></script>
{% endblock %}
