{% extends 'home.html' %}
{% load static %}
{% block content %}
	<div class="content-item">
				<div class="build-title">
					<h3 class="page-title">
						O‘qituvchi va xodimlar turini kiritish
					</h3>
					<a class="enter" onclick="addTeacher()">Kiritish</a>
				</div>
				<div class="container">
					<div class="build-search">
						<div class="build-top">
							<div class="build-top__item">
								<input type="text" id="search-text" name="build-search" placeholder="Search">
								
								<img class="build-search__img" id="search-icon" src="{% static 'images/search.svg'%}" alt="search">
							</div>
							<div class="build-top__item build-export__second">
								<ul class="build-export">
									<li class="build-export__item">Export</li>
									<ul class="build-export__dropdown">
										<li><a href="#"><img src="{% static 'images/word.svg'%}" alt="export icon">Word</a></li>	
										<li><a href="#"><img src="{% static 'images/excel.svg'%}" alt="export icon">Excel</a></li>
										<li><a href="#"><img src="{% static 'images/pdf.svg'%}" alt="export icon">Pdf</a></li>
									</ul>
								</ul>
								<div class="build-export__number">
									<span>Show</span> <input type="number" name="number" value="7">
								</div>
							</div>
						</div>
						<ul class="room-table build-table build-table--bold">
							<li class="build-table__item build-table__item--1">
								№
							</li>
							<li class="build-table__item build-table__item--2">
                				Lavozim va xizmat turining nomi
							</li>
							<li class="build-table__item build-table__item--3">
								Vakolati doirasida xizmat vazifasi
							</li>
							<li class="build-table__item build-table__item--4">
								Ishchi o‘rni soni
							</li>
              					<li class="build-table__item build-table__item--5">
								Kiritilgan sanasi
							</li>
							<li class="build-table__item build-table__item--7">
							
							</li>
						</ul>
					</div>
					<!-- 
						Jadval ro'yhati
					-->
					<div id="replaceable-content" class="col-12">
						{% include "settings/search/teacher-results.html" %}
					</div>
				</div>
			</div>
		</div>
<script>
    function addTeacher() {
      window.location.href = '{% url "teachers" %}?add=true';
    }
</script>
<script src="{% static 'js/teacher_search.js' %}"></script>
{% endblock content %}