{% extends 'home.html' %}
{% load static %}
{% block content %}
			<div class="content-item">
			<!-- title -->
			<h3 class="page-title">
				Yangi guruh tashkil etish 
			</h3>
			<!-- config -->
			<section class="section-page config">
				<a class="config-box" href="{% url 'new-group'%}">
					<h4 class="config-title">
						Yangi guruh jurnalini ochish va sozlash 
					</h4>
					<img class="config-img" src="{% static 'images/groups/group-1.png'%}" alt="config img">
				</a>


{% comment %} this part is not available {% endcomment %}
				<a class="config-box" href="group-add.html">
					<h4 class="config-title">
						Qo‘shimcha guruh tashkil qilish va uni sozlash
					</h4>
					<img class="config-img" src="{% static 'images/groups/group-2.png'%}" alt="config img">
				</a>
				<a class="config-box" href="{% url 'active-group'%}">
					<h4 class="config-title">
						Amaldagi faol guruhlar jurnaliga o‘tish 
					</h4>
					<img class="config-img" src="{% static 'images/groups/group-3.png'%}" alt="config img">
				</a>
				<a class="config-box" href="{% url 'ended-group'%}">
					<h4 class="config-title">
						Tugatilgan va yopilgan guruhlar jurnaliga o‘tish
					</h4>
					<img class="config-img" src="{% static 'images/groups/group-4.png'%}" alt="config img">
				</a>
			</section> 				
			</div>
			
{% endblock %}